# Ignore macOS system files
.DS_Store

# Ignore node modules
node_modules/

# Ignore environment variable files
.env
.env.*
*.env.*

*.zip

# Ignore log files
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log* 

# Ignore build output
 
build/
.cache/
.next/

.vscode/    
.idea/
issues/

# Ignore spec folders and files
assets/
references/
# spec/

docs/API_ENDPOINTS_README.md
docs/FRONTEND_INTEGRATION_GUIDE.md


.vercel
